 body {
  padding: 20px 30px;
  font-family: Arial, sans-serif;
  } 
h1 {
	 text-align: center;
 }
 h2 {
	 text-align: center;
 }
#example1 {
  background: url(photo/images.jpg/);
  background-size: contain;
}
#menu {
background-color: white;
  border: none;
  color: black;
  text-align: left;
  text-decoration: none;
}
.button1 {
	background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2{
	background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
a:hover {
  color: black;

}
table, th, td {
  border: 1px solid black;
  text-align: center;
}

